body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #008000;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.form-horizontal input, .form-horizontal textarea{
        width:100%;

}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.item-card {
    background-color: #dddddd;
    border-radius: 2px;
    min-height:200px;
    padding-bottom: 5px;
}

.item-picture {
    background: url(noimg2.png) no-repeat center;
    width: auto;
    height: 100px;
}

.item-title {
    background-color: #333;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    color: #ffffff;
}

.item-body {
    padding: 3px;
}

.item-desc {
    margin-bottom:20px;
    padding: 3px;
}

.item-goto {
    background-color: #333;
    margin: 10px 20%;
    padding: 5px;
    text-align: center;
    color: white;
    text-decoration: solid;
    font-weight: bold;
    font-size: 1.2em;
}

a:hover {
    text-decoration: none;
}

#main {
    padding-top: 50px;
}

@media screen and (min-width: 769px) {

    .navbar-right-with-margin {
        line-height: 3.5;
        color: #999;
    }

}


.label-container {
    position: fixed;
    bottom: 48px;
    right: 105px;
    display: table;
    visibility: hidden;
}

.label-text {
    color: #FFF;
    background: rgba(51,51,51,0.5);
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    border-radius: 3px;
}

.label-arrow {
    display: table-cell;
    vertical-align: middle;
    color: #333;
    opacity: 0.5;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #000;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
    animation: bot-to-top 2s ease-out;
}

.nocolor {
    color: #999;
}
