{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>

<p>This webpage is content management system able to store and list culinary recipes.
<br><br>
Author: Bartosz Dylewski </p>

{% endblock %}

