<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Książka kucharska</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Książka kucharska</a>
            </div>
            <div class="navbar-collapse collapse">
                <div class="nav navbar-nav navbar-right navbar-right-with-margin">
                    {% if user.is_authenticated %}
                        <a class="nocolor" href="accounts/logout/">Wyloguj {{ request.user.username }}</a>
                    {% else %}
                        <a class="nocolor" href="accounts/login/">Zaloguj</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        {% block content %}{% endblock %}
    </div>

    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
    <script src="{% static 'app/scripts/dusigrosz.js' %}"></script>

{% block scripts %}{% endblock %}

</body>
</html>
