﻿{% extends "app/layout.html" %}

{% block content %}
<h2> Create recipe </h2>
<div style="">
  <form class="form-horizontal" method="post">{% csrf_token %}
      <fieldset>
          <legend>{{ title }}</legend>
          {% for field in form %}
              {% if field.errors %}
                  <div class="control-group error">
                      <label class="control-label">{{ field.label }}</label>
                      <div class="controls">{{ field }}
                          <span class="help-inline">
                              {% for error in  field.errors %}{{ error }}{% endfor %}
                          </span>
                      </div>
                  </div>
              {% else %}
                  <div class="control-group">
                      <label class="control-label">{{ field.label }}</label>
                      <div class="controls">{{ field }}
                          {% if field.help_text %}
                              <p class="help-inline"><small>{{ field.help_text }}</small></p>
                          {% endif %}
                      </div>
                  </div>
              {% endif %}
          {% endfor %}
      </fieldset>
      <div class="form-actions" style="margin-top:10px">
          <button type="submit" class="btn btn-primary" >Submit</button>
      </div>
  </form>
</div>
{% endblock %}
