﻿{% extends "app/layout.html" %}

{% block content %}

        <h2> Manage recipes </h2>

    <table class="table">
      <thead>
        <tr>
          <th> Name       </th>
          <th> Link       </th>
          <th> Desc       </th>
          <th> Region    </th>
          <th> Category   </th>
          <th> Actions    </th>
        </tr>
      </thead>
      <tbody>

        {% for recipe in recipes %}

        <tr>

            <td>{{ recipe.name }}        </td>
            <td>{{ recipe.link }}        </td>
            <td>{{ recipe.desc }}        </td>
            <td>{{ recipe.country }}     </td>
            <td>{{ recipe.category }}    </td>
            <td>
                <a href="/recipes/remove?id={{ recipe.id }}&page={{ page }}"><div class="btn btn-danger">usun</div></a>
            </td>

        </tr>

        {% endfor %}

      </tbody>
    </table>

    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <a href="/recipes/manage?page={{ page }}"><div class="btn btn-danger">Next page</div></a>
        </div>
    </div>


{% endblock %}
